/**
 * 按钮样式和划过样式
 * 按钮类型：头部绿色、弹出框白色、弹出框红色
 * form: lizhik
 */
#content .green-button{
	background:#39b588;
	border:1px solid #39b588;
	border-radius:0;
	color:#fff;
	outline: none;
	margin-right:12px;
}
#content .green-button:hover{
	background-color:#33a37a;
	color:#fff;
	outline: none;
}
#content .white-button{
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 0;
	outline: none;
}
#content .white-button:hover{
	background:#ebebeb;
}
#content .red-button{
	background:#ed4047;
	border-radius: 0;
	outline: none;
}
#content .red-button:hover{
	background:#d53940;
}

/**
 *常用属性：
 *可根据个人页面添加常用字体、属性样式
 */
.position-rel{
	position:relative;
}
.cursor-point{
	cursor: pointer;
}
.block{
	display:block;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.pad-left30{
	padding-left:30px;
}
.font-yahei{
	font-family: "microsoft yahei";
}
#content .text-center{
	text-align: center;
}
.thead th{
	text-align: left;
}
#content button{
	outline:none;
}
/**
 * select下拉箭头样式
 */
select {
  border: solid 1px #BFBFBF;

  /*默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url('/hrcloud/static/img/selectDown.png') #fff no-repeat 95% center ;

  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding:0px 10px 0px 10px;

  height:32px;
  outline: none;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
	display: none;
}


/**
 * checkbox样式
 */
.u-checkbox-outline{
	border: 2px solid #d7d7d7;
}
.u-checkbox.is-checked .u-checkbox-outline {
    border: 2px solid #2aafd6;
}
.u-checkbox.is-checked .u-checkbox-tick-outline {
    background:#2cafd6;
}


/**
 * "*"号必填项样式
 */
.must-icon:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color: #f00;
 }

.must-icon::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: #f00;
 }

.must-icon:-ms-input-placeholder{
     color: #f00;
 }

.must-icon::-webkit-input-placeholder{
     color: #f00;
 }
/**
 * hrfont图片字体声明定义
 * description:挑选相应图标并获取字体编码，应用于页面
 * eg:'<i class="iconfont">&#x33;</i>'
 * from:lizhik
 */
 @font-face {
	 	 font-family: 'iconfont';
     src: url('../vendor/hrfonts/iconfont.eot'); /* IE9*/
     src: url('../vendor/hrfonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('../vendor/hrfonts/iconfont.woff') format('woff'), /* chrome、firefox */
     url('../vendor/hrfonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
     url('../vendor/hrfonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
 }
 .iconfont{
     font-family:"iconfont" !important;
     font-size:16px;font-style:normal;
     -webkit-font-smoothing: antialiased;
     -webkit-text-stroke-width: 0.2px;
     -moz-osx-font-smoothing: grayscale;
}
