/*outside frame*/
div#content {
    background: #ECEFF1;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}

.u-navlayout-fixed-drawer .u-navlayout-content {
    margin-left: 200px;
}

header > .u-container {
    width: 100%;
    margin: 0;
    padding: 0;
}

header > .u-container > .u-row {
    margin-left: 0;
    margin-right: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.u-col-xs-12.u-col-sm-12.text-right {
    padding-right: 0;
}

/*back button*/
.u-button-white {
    background: white;
    color: #C5C5C5 ! important;
    border: 1px #C5C5C5 solid ! important;
    border-radius: 0.25rem;
}

.u-button:active {
    background: #00bcd4;
}

/*search bar*/
.common-header-2 .u-input-group {
    position: absolute !important;
}

.main-container {
    /*  position:absolute; */
    background: #ffffff;
}

.common-header-1 {
    height: 25px;
    background: #ffffff;
    padding: 5px 15px 5px 15px;
    border-bottom: 1px solid #cecece;
}

.common-header-2 {
    height: 29px;
    background: #ffffff;
    padding: 5px 15px 5px 15px;
    border-bottom: 1px solid #cecece;
}

.u-input-group .u-form-control:first-child {

    border-radius: 4px;
}

/*table*/
.main-container .u-grid {
    border-top-color: transparent;
}

#gridcardtable_header_thead .u-grid-header-link {
    height: 32px;
    line-height: 32px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}

.u-grid-content-td-div .u-checkbox-focus-helper, .u-grid-content-td-div .u-checkbox-outline {
    top: 0 !important;
}

#manager .u-checkbox-outline {
    position: absolute;
}

#manager .u-checkbox.is-checked .u-checkbox-tick-outline {
    background: #1baede;
}

#manager .u-checkbox.is-checked .u-checkbox-outline {
    border: 1px solid #1baede;
}

i.glyphicon.glyphicon-pencil, i.glyphicon.glyphicon-trash {
    font-size: 12px;
}

i.glyphicon:hover {
    color: #0090d9;
    text-decoration: none;
}

#manager .u-grid a {
    color: #1baede;
}

a:active, a:hover {
    text-decoration: none;
    cursor: pointer;
    outline-width: 0;
}

/*分页居中*/
#pagination {
    margin: 15px;
}

.cartable-container {
    text-align: center;
}

.cartable-container .pagination {
    display: inline-block !important;
}

.edit-bottom {
    background: #fff;
}

/*u-msg-dialog*/
#addDialog .u-msg-title {
    padding: 15px;
    font-size: 14px;
    border-bottom: 1px solid #cecece;
}

.u-msg-content {
    padding: 20px;
}

label {
    font-weight: normal;
}

label.u-radio.is-upgraded {
    float: left;
    margin-right: 20px;
}

/*验证*/
span.u-form-control-info.uf.uf-exclamationsign {
    font-size: 12px;
    top: 32px !important;
}

/*测试模态框尺寸*/
@media (min-width: 800px) {
    .u-msg-dialog {
        max-width: 600px;
    }
}

@media (max-width: 800px) {
    .u-msg-dialog {
        max-width: 500px;
    }
}

@media (max-width: 500px) {
    .u-msg-dialog {
        width: 300px;

    }
}
/*兼容ie9输入框*/
#search{
	padding: 0 0 0 5px \9;
}
